<% page_title t("login") %>

<%= simple_form_for(:session, :url => sessions_path) do |f| %>  
  
  <ol>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.button :submit, :value => t("login") %> <span class="or">or <%= link_to t("signup"), signup_path %></span>
  </ol>

<% end %>