<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">  
  <%= csrf_meta_tag %>  

  <title>paintbox.es <%= page_title %></title>
  <link rel="icon" href="/images/favicon.png" type="image/png"> 

  <%= include_stylesheets :common %>
  <%= yield :stylesheets %>  
  
  <%= include_javascripts :common %>
  <%= yield :javascripts %>
</head>
<body data-id="<%= params[:id] %>">

  <div id="wrap">

    <header>
      <h1><%= link_to("paintbox.es", root_path) %> <%= page_title %></h1>
      
      <% flash.each do |key, value| %>
        <p class="flash <%= key %>"><%= value %></p>
      <% end %>

      <% if (current_user && current_user.admin?) %>
        <nav class="admin">
          <strong>Admin:</strong> <%= link_to "Users", users_path, :class => "admin" %>
        </nav>
      <% end %>

      <nav>
        <% if signed_in? %>
          <%= link_to "Profile", current_user %> /        
          <%= link_to "Settings", settings_path %> /        
          <%= link_to "Logout", logout_path, :method => :delete %> /
        <% else %>
          <%= link_to "Login ", login_path %> / 
          <%= link_to "Sign up", signup_path %> /
        <% end %>
        <%= link_to "About", 'https://github.com/meleyal/paintbox#readme' %>
      </nav>      
    </header>

    <section id="content" class="group">
      <%= yield %>    
      <%# debug(params) if Rails.env.development? %>          
    </section>
  
  </div><!--/wrap-->
  

  
</body>
</html>